<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<array>
		<dict>
			<key>size</key>
			<string>29x29</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-29.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>29x29</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-58.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>29x29</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-87.png</string>
			<key>scale</key>
			<string>3x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>40x40</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-80.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>40x40</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-120.png</string>
			<key>scale</key>
			<string>3x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>57x57</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-57.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>57x57</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-114.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>60x60</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-120.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>60x60</string>
			<key>idiom</key>
			<string>iphone</string>
			<key>filename</key>
			<string>icon-180.png</string>
			<key>scale</key>
			<string>3x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>29x29</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-29.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>29x29</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-58.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>40x40</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-40.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>40x40</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-80.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>50x50</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-50.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>50x50</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-100.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>72x72</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-72.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>72x72</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-144.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>76x76</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-76.png</string>
			<key>scale</key>
			<string>1x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>76x76</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-152.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
		<dict>
			<key>size</key>
			<string>83.5x83.5</string>
			<key>idiom</key>
			<string>ipad</string>
			<key>filename</key>
			<string>icon-167.png</string>
			<key>scale</key>
			<string>2x</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
		<key>author</key>
		<string>AVAssetCatalogCreator</string>
	</dict>
</dict>
</plist>
