<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   XCAssetContent.plist
   AVAssetCatalogCreator

   Created by Angel Vasa on 27/04/16.
   Copyright (c) 2016 Angel Vasa. All rights reserved.
-->
<plist version="1.0"><dict><key>info</key><dict><key>version</key><integer>1</integer><key>author</key><string>AVAssetCatalogCreator</string></dict></dict></plist>